<?xml version="1.0" encoding="utf-8"?>
<!--애플리케이션 명세서-->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.yil" >

<!--앱 구성요소에 대한 정보-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!--스플래쉬 액티비티-->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SplashTheme"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

<!--메인 액티비티-->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>

<!--서브 액티비티-->
        <activity
            android:name=".MyBooksList"/>
        <activity
            android:name=".RegistActivity"/>
        <activity
            android:name=".AddBookActivity"/>

    </application>
</manifest>
